noscript
	meta(http-equiv='refresh' content='0; url=badbrowser.html')
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(http-equiv='cache-control' content='public, max-age=2592000')
title Заголовок
base(href='/')
link(rel='stylesheet' type='text/css' href='lib/normalize.css')
link(rel='stylesheet' type='text/css' href='lib/owl.carousel.css')
link(rel='stylesheet' type='text/css' href='lib//owl.theme.default.css')
script(type='text/javascript' src='lib/jquery.js')
script(type='text/javascript' src='lib/owl.carousel.js')

link(rel='stylesheet' type='text/css' href='css/styles.css?cache=true')
