noscript
	meta(http-equiv='refresh' content='0; url=badbrowser.html')
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title Title
base(href='/')
link(rel='stylesheet' type='text/css' href='components/normalize.css/normalize.css')
link(rel='stylesheet' type='text/css' href='components/owl.carousel/dist/assets/owl.carousel.min.css')
link(rel='stylesheet' type='text/css' href='components/owl.carousel/dist/assets/owl.theme.default.min.css')
script(type='text/javascript' src='components/jquery/dist/jquery.min.js')
script(type='text/javascript' src='components/owl.carousel/dist/owl.carousel.min.js')

link(rel='stylesheet' type='text/css' href='css/styles.css')
