.header {
	height: 802.5px;
	background: url(/img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: 0 -224px;
	overflow: hidden;
	.header__ellipse {
		@size: 852px;
		width: @size;
		height: @size;
		background: linear-gradient(to bottom, #0054A6, #2E3192);
		border-radius: 100%;
		opacity: 0.9;
		margin-top: 144px;
		margin-left: -34px;
	}
}
