/* Container */
.container {
	@padding: 50px;
	max-width: calc(1200px - @padding);
	margin: 0 auto;
}
/* Header */
.header {
	height: 600px;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	clip-path: polygon(0% 0%,100% 0%,100% 90%,7% 100%,0% 90%);
	overflow: hidden;
	.header__ellipse {
		@color: white;
		@ellipse_margin_left: 220px;
		@size: 852px;
		width: @size;
		height: @size;
		background: linear-gradient(to bottom, rgba(0,84,166,0.9), rgba(46,49,146,0.9));
		border-radius: 100%;
		margin-top: 30px;
		margin-left: -@ellipse_margin_left;
		overflow: hidden;
		.ellipse__title {
			font-size: 47px;
			line-height: 40px;
			font-family: 'Times New Roman', Times, serif;
			font-style: normal;
			margin-top: 140px;
			width: 484px;
			height: auto;
		}
		.ellipse__text {
			font-size: 20px;
			line-height: 28px;
			font-family: verdana;
			margin-top: 30px;
			width: 501px;
			height: 87px;
		}
		.ellipse__title,
		.ellipse__text {
			color: @color;
		}
		.ellipse__title,
		.ellipse__text,
		.ellipse__button {
			margin-left: @ellipse_margin_left;
		}
		.ellipse__button {
			@radius: 100px;
			margin-top: 102px;
			cursor: pointer;
			width: 20px;
			height: 30px;
			border: 1px solid @color;
			border-radius: @radius;
			.button__dot {
				background-color: @color;
				width: 1.88px;
				height: 3.75px;
				margin: 0 auto;
				border-radius: @radius;
				margin-top: 6.25px;
			}
		}
	}
}
/* Main */
.main {
	@textColor: #2E3192;
	margin-top: -100px;
	margin-bottom: 70px;
	.main__title {
		float: left;
		color: @textColor;
		margin-top: 196px;
		font-size: 40px;
		font-family: 'Times New Roman', Times, serif;
		line-height: 47px;
		width: 321px;
		height: 176px;
	}
	.main__sections {
		.sections__section {
			@padding: 44px;
			padding: @padding;
			position: relative;
			z-index: 9;
			overflow: hidden;
			float: left;
			width: calc(330px - @padding);
			height: calc(200px - @padding);
			background-color: white;
			margin-left: 40px;
			margin-bottom: 39px;
			border-radius: 6px;
			font-family: verdana;
			.section__title {
				color: @textColor;
				font-family: 'Times New Roman', Times, serif;
				font-size: 18px;
				line-height: 21px;
				width: 258px;
				height: 55px;
			}
			.section__text {
				margin-top: 10px;
				width: 289px;
				height: 47px;
				font-family: verdana;
				font-size: 16px;
				line-height: 23px;
				color: #7E899E;
			}
		}
		.owl-stage-outer,
		.sections__section {
			box-shadow: 0 14px 40px rgba(43, 60, 105, 0.1);
		}
		.owl-dots {
			margin-top: 24px !important;
			.owl-dot {
				span {
					background: #C4C4C4 !important;
					width: 5px !important;
					height: 5px !important;
				}
				&.active span {
					background: #FF7E74 !important;
				}
			}
		}
	}
}
@media(max-width: 1199px) {
	.container {
		@padding: 70px;
		max-width: calc(1000px - @padding);
	}
	.header {
		height: 500px;
		clip-path: none;
		.header__ellipse {
			@size: 700px;
			width: @size;
			height: @size;
			margin-top: -120px;
			margin-left: -120px;
			.ellipse__title,
			.ellipse__text,
			.ellipse__button {
				margin-left: 170px;
			}
			.ellipse__title {
				font-size: 40px;
				margin-top: 205px;
			}
			.ellipse__text {
				font-size: 17px;
				margin-top: 7px;
			}
			.ellipse__button {
				margin-top: 70px;
			}
		}
	}
	.main {
		.main__title {
			width: 230px;
			font-size: 30px;
		}
		.main__sections .sections__section {
			@padding: 20px;
			padding: @padding;
			width: calc(290px - @padding);
			margin-left: 30px;
			margin-bottom: 29px;
		}
	}
}
@media(max-width: 991px) {
	.container {
		@padding: 90px;
		max-width: calc(780px - @padding);
	}
	.header {
		.header__ellipse {
			margin-top: -120px;
			margin-left: -150px;
			.ellipse__title,
			.ellipse__text,
			.ellipse__button {
				margin-left: 150px;
			}
			.ellipse__title {
				margin-top: 200px;
			}
		}
	}
	.main {
		.main__title {
			margin-top: 150px;
		}
		.main__sections .sections__section {
			width: 390px;
			float: none;
			margin-left: 290px;
		}
	}
}
@media(max-width: 767px) {
	body {
		background-color: #f7f7f7;
	}
	.container {
		max-width: none;
		width: auto;
	}
	.header {
		height: 499px;
		.header__ellipse {
			@size: 461px;
			width: @size;
			height: @size;
			margin-top: -44px;
			margin-left: -90px;
			.ellipse__title,
			.ellipse__text {
				margin-left: 109px;
			}
			.ellipse__title {
				font-size: 30px;
				line-height: 35px;
				margin-top: 85px;
				width: 265px;
				height: 132px;
			}
			.ellipse__text {
				font-size: 14px;
				line-height: 20px;
				margin-top: 20px;
				width: 244px;
			}
			.ellipse__button {
				display: none;
			}
		}
	}
	.main {
		margin-top: 0;
		.main__title {
			margin-top: 40px;
			float: none;
			width: 241px;
			height: 132px;
			padding: 0 20px;
		}
		.main__sections {
			margin: 0;
			padding: 0;
			.sections__section {
				float: none;
				margin: 0;
				padding: 44px 20px;
				width: auto;
				height: 240px;
				margin-top: 24px;
				.section__title {
					width: 150px;
					height: auto;
				}
				.section__text {
					width: 243px;
					margin-top: 30px;
				}
			}
		}
	}
}
