.header {
	height: 802.5px;
	background: url(/img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	clip-path: polygon(0% 0%,100% 0%,100% 93%,13% 100%,0% 88%);
	.header__ellipse {
		@size: 852px;
		width: @size;
		height: @size;
		background: linear-gradient(to bottom, #0054A6, #2E3192);
		border-radius: 100%;
		opacity: 0.9;
		margin-top: 144px;
		margin-left: -34px;
		h1 {
			font-size: 40px;
			font-family: 'Times New Roman', Times, serif;
			font-style: normal;
			margin-top: 190px;
		}
		p {
			font-size: 20px;
			font-family: verdana;
			margin-top: -20px;
		}
		h1,
		p {
			color: white;
			display: inline-block;
			width: 484px;
			height: 173px;
		}
		h1,
		p,
		.ellipse__button {
			margin-left: 250px;
		}
		.ellipse__button {
			cursor: pointer;
			width: 20px;
			height: 30px;
			border: 2px solid white;
			border-radius: 15px;
			.button__dot {
				background-color: white;
				width: 3px;
				height: 5px;
				margin: 0 auto;
				border-radius: 5px;
				margin-top: 7px;
			}
		}
	}
}
