doctype html
html
	include templates/head.pug
	body
		header.header
			div.header__ellipse.ellipse
				h1 Я есть заголовок и я прекрасен, разве это не так?
				p Полноценные условия для развития собственного гения в сфере науки. От фундаментальных направлений до современных IT-разработок.
				div.ellipse__button.button(role='button')
					div.button__dot
